[submodule "https---github.com-ATHARVA-GAWAS-ChatApp-Project"]
	path = https---github.com-ATHARVA-GAWAS-ChatApp-Project
	url = https://github.com/ATHARVA-GAWAS/https---github.com-ATHARVA-GAWAS-ChatApp-Project
